inventory_paths: # list of all inventory paths
  - ./hosts
  - /home/user/another-inventory/hosts
profile_path: /etc/wireguard/wg0.confg # wireguard profile
allowed_ips: # (optional) list of allowed ips that should be always added
  - 1.2.3.4
table: 1234 # (optional) table
post_up: [] # (optional) PostUp, supports {{ .table }} and {{ .name }} vars
post_down: [] # (optional PostDown, supports {{ .table }} and {{ .name }} vars
debug: false # show debug info

# vi: ft=yaml
